@charset "UTF-8";

body{
    position: relative;
}

/* wrap 영역 */
#wrap{}

/* header 영역 */
#header{
    width: 1920px;
    margin: 0 auto;
    /* background-color: aqua; */
}

/* h_inner 영역 */
.h_inner{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    /* background-color: aqua; */
    /* overflow: hidden; */
}

.logo{
    float: left;
    height: 100px;
}
.logo a{
    display: block;
    height: 100px;
    line-height: 100px;
    
}

.t_title{
    float: right;
    /* border: 1px solid black; */
    margin: 10px 0;
}

.t_title > li{
    padding: 5px 0;
}

.t_title > li > h1{
    float: right;
}

.t_title > h2{
    margin-top: 10px;
}

.t_link{
    float: right;
    height: 100px;
}
.t_link > li{
    display: inline-block;
    height: 100px;
    margin-top: 25px;

}
.t_link > li > a{
    display: block;
    height: 42px;
    text-indent: -9999px;
    /* border: 1px solid black; */
    margin-right: 10px;
}

.h_img1 > a{
    background: url(../img/10002.png)no-repeat;
    width: 42px;
    background-size: 100%;
}
.h_img2 > a{
    background: url(../img/10004.png)no-repeat;
    width: 42px;
    background-size: 100%;
}
.h_img3 > a{
    background: url(../img/10007.png)no-repeat;
    width: 42px;
    background-size: contain;
    
}

/* nav 영역 */
.nav{
    width: 1920px;
    margin: 0 auto;
}

/* main 영역 */
.main{
    width: 1200px;
    height: 60px;
    margin: 0 auto;

}
.main > li{
    display: inline-block;
    /* padding: 0 25px; */
    /* background-color: aqua; */
    position: relative;
    
}
.main > li > a{
    display: block;
    width: 140px;
    height: 60px;
    line-height: 60px;
    background-color: azure;
    text-align: center;
}

.main > li > a:hover{
    background-color: greenyellow;
}

.main:hover .sub{
    display: block;
}

#header:hover .sub_bg{display: block;}

.sub_bg{
    width: 1920px;
    height: 400px;
    background: white;
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 4;
    display: none;
}

.sub{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 60px;
    display: none;
    z-index: 5;
    text-align: center;
    /* border: 1px solid brown; */
}
.sub li{

}
.sub li a{
    display: block;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    
}

.sub li:hover a{
    color: green;
}

/* section 영역 */
#section_img{
    width: 1920px;
    height: 500px;
    margin: 0 auto;
}

/* img_slide 영역 */
.img_slide{}

.img_slide a{
    display: block;
}
.img_slide a img{
    width: 1920;
    height: 500px;
}

/* section 영역 */

#section{}

.bg_1{
    background: url(../img/10023.jpg)no-repeat;
    height: 500px;
    background-size: cover;
    
}


/* s_inner_1 영역 */
.s_inner_1{
    width: 1200px;
    margin: 0 auto;
}

.s_inner_1 h3{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px;
}

.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* border: 1px solid black; */
    padding: 5px;
}
.content li{
    
    
}
.content li a{
    display: block;
    /* background-color: aqua; */
    width: 280px;
    height: 45px;
    line-height: 45px;
    font-size:16px;
    border: 1px solid white;
    color: white;
    
    transition: all 0.5s
    
}
.content li a img{
    float: left;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 40px;

}


.content li a:hover{
    border: 1px solid black;
    color: black;
}

/* s_inner_2  영역 */
.s_inner_2{
    width: 1200px;
    height: 380px;
    margin: 0 auto;
    /* background-color: aqua; */
}

/* in_content 영역 */
.in_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid black; */
    padding: 5px;
}

.in_content div{
    border-right: 1px dotted gray;
    margin-top: 80px;
}

.in_content div:nth-child(4){
    border: none;
}

.in_c{}

.in_c a{
    display: block;
    text-align: center;
}

.in_c a img{}

.in_c a h3{
    margin: 30px 0 20px;
    font-size: 25px;
}

.in_c a p{
    font-size: 16px;
    line-height: 1.5;
}

.in_c a p span{
    color: coral;
}

.in2 a img{
    margin-top: 20px;
}

.in3 a img{
    margin-top: 10px;
}

.in4 a img{
    margin-top: 5px;
}

/* s_inner_3 영역 */
.s_inner_3{
    text-align: center;
    height: 620px;
}

.s_inner_3 h3{
    font-size: 40px;
    margin-bottom: 40px;
}

/* center 영역 */
.center{
    width: 1200px;
    margin: 0 auto;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid black; */
}

.over{
    overflow: hidden;
}

.c_bg_1{
    background: url(../img/10105.jpg)no-repeat;
    
}
.c_bg_2{
    background: url(../img/10107.jpg)no-repeat;
}
.c_bg_3{
    background: url(../img/10109.jpg)no-repeat;
}
.c_bg_4{
    background: url(../img/10111.jpg)no-repeat;
}
.c_bg_5{
    background: url(../img/10085.jpg)no-repeat;
}
.c_bg_6{
    background: url(../img/10083.jpg)no-repeat;
}
.c_bg_7{
    background: url(../img/10084.jpg)no-repeat;
}
.c_bg_8{
    background: url(../img/10089.jpg)no-repeat;
}
.c_bg_9{
    background: url(../img/10087.jpg)no-repeat;
}
.c_bg_10{
    background: url(../img/10088.jpg)no-repeat;
}
.c_bg_11{
    background: url(../img/10082.jpg)no-repeat;
}
.c_bg_12{
    background: url(../img/10081.jpg)no-repeat;
}

.c_bg{
    transition: all 0.5s;
}

.c_bg:hover{
    transform: scale(1.3);
}

.box{}

.box li{
    height: 150px;
}

.box li a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 150px;
    color: white;
}

/* s_inner_4 영역 */
.s_inner_4{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    /* background-color: aqua; */
}

/* notice 영역 */
.notice{
    float: left;
    /* border: 1px solid black; */
    margin-right: 20px;
}

.n_top{}

.n_top h3{
    display: inline-block;
    
}

.n_top h3:nth-child(5) a{
    border-right: none;
}

.n_top h3 a:hover{
    color: gray;
}


.n_top h3 a{
    display: block;
    margin: 10px 10px 10px 0;
    padding-right: 25px;
    border-right: 1px dotted black;
    font-size: 30px;
}

.n_bootom{}
.n_bootom p{}
.n_bootom p a{
    display: block;
    padding: 15px 0;
    font-size: 20px;
}

/* movi 영역 */
.movi{
    float: right;
    /* border: 1px solid black; */
}

.m_top{}
.m_top h3{
    display: inline-block;
}

.m_top h3:nth-child(2) a{
    border-right: none;
}

.m_top h3 a:hover{
    color: gray;
}

.m_top h3 a{
    display: block;
    margin: 10px 10px 10px 0;
    padding-right: 25px;
    border-right: 1px dotted black;
    font-size: 30px;
}

.m_bootom{
    margin-top: 15px;
}
.m_bootom img{}

/* footer 영역 */
#footer{
    background-color: gray;
    color: white;
}

/* f_t_contents 영역 */
.f_t_contents{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.f_left{}

.f_left p{
    float: left;
    margin: 20px 0 20px 0;
}

.f_left p a{
    display: block;
    margin: 0 10px 0 10px;
    border-right: 1px dotted black;
    padding-right: 25px;
}

.f_left p a span{
    color: red;
}

.r_right{

}

.f_link{
    float: right;
    height: 42px;
}
.f_link > li{
    display: inline-block;
    height: 42px;
    margin-top: 7px;

}
.f_link > li > a{
    display: block;
    height: 42px;
    text-indent: -9999px;
    /* border: 1px solid black; */
    margin-right: 10px;
}

/* f_b_contents 영역 */
.f_b_contents{
    width: 1200px;
    height: 210px;
    margin: 0 auto;
}

.bottom_f_l{
    float: left;
}
.bottom_f_l p{
    margin: 10px 0 10px 0;
}

.bottom_f_r{
    float: right;
    line-height: 199px;
}
.bottom_f_r img{
    width: 150px;
    
}

/* fixed 영역 */

#fixed{
    width: 120px;
    height: 650px;
    /* border: 1px solid red; */
    border-radius: 25px;
    position: fixed;
    left: calc(50% + (1200px / 2) + 100px);
    top: 170px;
    border-radius: 25%px;
    background-color: black;
    z-index: 6;
}

#fixed p{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 10px 0 10px 0;

}

#fixed a{
    width: 120px;
    height: 120px;
    background-color: cornflowerblue;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid white;
    
}

#fixed a:last-child{
    border-bottom: none;
}

#fixed a img{
    margin-top: 20px;
}

.img_1{
    width: 50px;
    margin-bottom: 3px;
}

#fixed a p{
    font-size: 15px;
}

#fixed a:last-child{
    height: 80px;
    
}

.f_top{
    line-height: 58px;
}

#fixed a:hover{
    background-color: skyblue;
}




